<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            background: pink;
        }
        .duan table{
            margin-top: 100px;
            margin-left: 300px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="duan">
        <table>
            <tr>
                <td>姓名：</td>
                <td>段锦福</td>
            </tr>
            <tr>
                <td>年龄：</td>
                <td>25周岁</td>
            </tr>
            <tr>
                <td>职业：</td>
                <td>python全栈工程师</td>
            </tr>
            <tr>
                <td>技能：</td>
                <td>C语言，java，python全栈，数据库优化，linux熟练使用</td>
            </tr>
        </table>
    </div>
</body>
</html>